{% extends 'base.html' %}

{% block title %}Contact Us | Wau Teaching Hospital{% endblock %}

{% block body_class %}bg-background-light dark:bg-background-dark text-[#181111] dark:text-white min-h-screen flex
flex-col transition-colors duration-500{% endblock %}

{% block nav_contact_active %}!text-accent{% endblock %}

{% block content %}
<main class="flex-grow pt-32 lg:pt-40 max-w-4xl mx-auto px-6">
    <h1 class="text-primary text-4xl font-[900] tracking-tight">Contact Us</h1>
</main>
{% endblock %}